.page{

    position: relative;
    display: flex;
    flex-direction: column;
}
.slidebar{

    background-color: #282A35;
    display: flex;
    padding: 10px;
}
.logo{
    width: 70px ;
    height: 40px;
}
a{
    text-decoration: none;
    color:aliceblue;
}
a:visited{
    color: white;
}
a:hover{
    color: rgb(255, 255, 255);
}
@media (min-width: 640px){

    .page{
        flex-direction: row;
    }
    .slidebar{

        height: 100vh;
        width: auto;
        position: sticky;
        display: block;
        top: 0;
    }


}
